
body{
   background-color: #E8DAB2;
   font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   padding-left: 10px;

}

header{
    position: relative;
    margin-top: 10%;
}

.header-paragraph{
    margin-top: 20%;
    margin-left: 6;
    margin-bottom: -60;
    font-size:xx-large;
    font-style: italic;
    font-weight:600;
}



.h1-header{
    
    font-weight: bold;
    font-size: 80px;
;
}

.image-header{
    margin-top: -15%;
    position: relative;
    float: right;
    padding-right: 0;
    width: 30%;
    height: 30%;
}

.article{
    font-size: 25px;
    margin-top: 30%;
    text-align: center;
    border: white solid;
    background-color: white;
    width: 80%;
    margin-left: 8%;
    border-radius: 10px;
}
.h1-article{
    
    text-align: left;
    padding: 20px 0 0 60px;
}
.h3-article{
    text-align: left;
    padding-left: 70px;
    font-weight:lighter;
}

.img-article{
    width: 90%;  
    height: 100%;
}
ul{
    text-align: left;
    padding-left:70px ;

}

li{
}
.main-article{
    text-align: left;
    padding: 5px 30px 0 40px;
    line-height: 1.5;
}

h4{
    padding-left: 40px;
    text-align: left;
}

iframe{
    border: none;
    width: 90%;
    height: 100%;
    padding-bottom: 20px;
}

footer{
    color: white;
    background-color: black;
    border: black solid;
    font-weight: bold;
    font-size: 30px;
    padding: 10px;
    text-align: right;
    margin-top: -25px;
    margin-bottom: 20px;
}

footer p{
    margin-top: 0;
    background-color: black;
    display: inline;
}



h2{
text-align: left;
padding-left: 50px;
font-weight:bold;
}

.white-part{
    border: none;
    background-color: white;
    padding-top: 50px;
    padding-bottom: 0;
    margin:-20 -7 -40 -20;
}